.hero {
	min-height: 100vh;
	background: linear-gradient(
			to right,
			rgba($dark-color, 0.5),
			rgba($dark-color, 0.05)
		),
		url('../imgs/pexels-adrien-olichon-2387793.jpg') center top;
	background-blend-mode: multiply;
	background-size: cover;

	.hero__title {
		margin: 0;
		margin-top: 10vh;
		padding: 0.2em 0;
		text-transform: uppercase;
		text-align: center;
		color: $bright-color;
		font-size: 5rem;
		border-bottom: 2px solid $bright-color;
	}

	.hero__subtitle {
		text-transform: uppercase;
		text-align: center;
		color: $bright-color;
		font-size: 3rem;
		margin: 0.5em 0;
	}
}

.content_section {
	padding: 3em 0;
}

#about_section {
	.col {
		padding-bottom: 1em;

		p {
			line-height: 1.8;
		}
	}

	.profile_photo {
		margin: 0 auto;
		margin-bottom: 1em;
		border-radius: 100%;
		max-height: 150px;

		&.sml {
			display: block;
		}

		&.lrg {
			display: none;
		}
	}

	.values {
		list-style-type: none;

		li {
			display: flex;
			align-items: center;
			// border: 2px solid salmon;
			padding: 1em 0;

			i {
				font-size: 2rem;
				margin: 0 auto;
				// border: 2px solid blue;
				width: 18%;
				color: $accent-green;
			}
			.value_item {
				// border: 2px solid green;
				width: 80%;
				font-size: 1.1rem;
				font-weight: 600;
			}
		}
	}
}

.projects {
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 2rem;

	li {
		background-color: rgba(252, 252, 252, 0.3);
		border-radius: 0.5rem;

		figure {
			max-height: 380px;
			overflow: hidden;
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;
			position: relative;

			img {
				width: 100%;
			}

			figcaption {
				position: absolute;
				bottom: 0;
				background-color: rgba($dark-color, 0.9);
				width: 100%;

				h3 {
					color: #fff;
					padding: 0.75rem;
					font-size: 1.25rem;
					font-weight: 400;
				}
			}
		}

		p {
			font-size: 1rem;
			line-height: 1.5;
			padding: 1rem 0.75rem;
		}

		a {
			@include transition-ease;
			text-decoration: none;
			background-color: $dark-color;
			border-radius: 0.25rem;
			text-align: center;
			display: inline-block;
			padding: 0.5rem 0.8rem;
			margin: 0.5rem;
			font-weight: 500;
			color: #fff;

			&:hover {
				background-color: $accent-green;
			}
		}
	}
}

.footer {
	min-height: 200px;
	background-color: $dark-color;
	color: white;
	padding: 2em 0;

	.row {
		justify-content: space-between;
	}

	.col {
		padding-bottom: 1em;
		line-height: 2rem;
	}

	a {
		color: white;
	}
}

@media (min-width: 600px) {
	.hero {
		.hero__title {
			margin-top: 20vh;
		}
	}

	#about_section {
		.profile_photo {
			max-height: 250px;

			&.sml {
				display: none;
			}

			&.lrg {
				display: block;
			}
		}
	}
}
