.nav {
	padding: 1em 0;
	text-align: right;
	ul {
		list-style-type: none;
	}

	a {
		@include transition-ease;
		letter-spacing: 0.12rem;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: 500;
		color: white;

		&:hover {
			color: $bright-color;
		}
	}
}

@media (min-width: 450px) {
	.nav {
		.row {
			display: flex;
			justify-content: flex-end;
		}

		li + li {
			margin-left: 1em;
		}

		a {
			font-size: 1.3rem;
		}
	}
}
