.hero {
  min-height: 100vh;
  background: url("../imgs/pexels-adrien-olichon-2387793.jpg"), #000;
  background-size: cover;
}

.hero .hero__title {
  margin: 0;
  margin-top: 10vh;
  padding: 0.2em 0;
  text-transform: uppercase;
  text-align: center;
  color: #66fcf1;
  font-size: 4rem;
  border-bottom: 2px solid #66fcf1;
}

.hero .hero__subtitle {
  text-transform: uppercase;
  text-align: center;
  color: #66fcf1;
  font-size: 2.4rem;
  margin: 0.5em 0;
}

.content_section {
  padding: 3em 0;
}

#about_section .col {
  padding-bottom: 1em;
}

#about_section .col p {
  line-height: 1.8;
}

#about_section .profile_photo {
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 100%;
  max-height: 150px;
}

#about_section .profile_photo.sml {
  display: block;
}

#about_section .profile_photo.lrg {
  display: none;
}

#about_section .values {
  list-style-type: none;
}

#about_section .values li {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

#about_section .values li i {
  font-size: 2rem;
  margin: 0 auto;
  width: 18%;
  color: #45a29e;
}

#about_section .values li .value_item {
  width: 80%;
  font-size: 1.1rem;
  font-weight: 600;
}

.projects {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.projects li {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 0.5rem;
}

.projects li figure {
  max-height: 380px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
}

.projects li figure img {
  width: 100%;
}

.projects li figure figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(31, 40, 51, 0.9);
  width: 100%;
}

.projects li figure figcaption h3 {
  color: #fff;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.projects li p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0.75rem;
}

.projects li .btn {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  background-color: #1f2833;
  border-radius: 0.25rem;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
  font-weight: 500;
  color: #fff;
}

.projects li .btn:hover {
  background-color: #45a29e;
}

.footer {
  min-height: 200px;
  background-color: #1f2833;
  color: white;
  padding: 2em 0;
}

.footer .row {
  justify-content: space-between;
}

.footer .col {
  padding-bottom: 1em;
  line-height: 2rem;
}

.footer a {
  color: white;
}

@media (min-width: 600px) {
  .hero .hero__title {
    margin-top: 20vh;
    font-size: 5rem;
  }
  .hero .hero__subtitle {
    font-size: 3rem;
  }
  #about_section .profile_photo {
    max-height: 250px;
  }
  #about_section .profile_photo.sml {
    display: none;
  }
  #about_section .profile_photo.lrg {
    display: block;
  }
}

.nav {
  padding: 1em 0;
  text-align: right;
}

.nav ul {
  list-style-type: none;
}

.nav a {
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.nav a:hover {
  color: #66fcf1;
}

@media (min-width: 450px) {
  .nav .row {
    display: flex;
    justify-content: flex-end;
  }
  .nav li + li {
    margin-left: 1em;
  }
  .nav a {
    font-size: 1.3rem;
  }
}

#topBtn {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  position: fixed;
  bottom: 1em;
  right: 2em;
  z-index: 99;
  border: solid #45a29e;
  border-radius: 0;
  border-width: 0 0.6rem 0.6rem 0;
  outline: none;
  background-color: transparent;
  color: #1f2833;
  cursor: pointer;
  padding: 1em;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#topBtn:hover {
  border-color: #66fcf1;
}

#contact_section .contact {
  margin: 0 auto;
  max-width: 700px;
  background-color: #e4e4e4;
  border-radius: 0.5rem;
  margin-bottom: 3em;
}

#contact_section .contact .contact-form {
  padding: 0.5em;
}

#contact_section .contact .contact-form .styled-input input {
  width: 100%;
  margin: 1rem 0;
  border: none;
  min-height: 2.5rem;
  padding: 0.5em;
}

#contact_section .contact .contact-form .styled-input.wide input,
#contact_section .contact .contact-form .styled-input.wide textarea {
  width: 100%;
}

#contact_section .contact .contact-form .styled-input.wide textarea {
  padding: 0.5em;
  min-height: 250px;
  border: none;
}

#contact_section .contact .contact-form input:focus,
#contact_section .contact .contact-form textarea:focus {
  font-size: 0.8rem;
  color: #999;
  outline: 1px solid #ccc;
}

#contact_section .contact button {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  background-color: #1f2833;
  border: 0;
  border-radius: 0.25rem;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

#contact_section .contact button:hover {
  background-color: #45a29e;
}

#contact_section .social-icons {
  list-style-type: none;
}

#contact_section .contact-item {
  padding-bottom: 1em;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

#contact_section .contact-item .row {
  display: flex;
  align-items: center;
}

#contact_section .contact-item a {
  transition: all 0.5s ease-in-out;
  color: #1f2833;
  text-decoration: none;
}

#contact_section .contact-item a:hover {
  color: #45a29e;
}

#contact_section .contact-item a i {
  color: #45a29e;
  font-size: 2.5rem;
  padding-right: 0.3em;
}

@media (min-width: 300px) {
  #contact_section .contact-item {
    font-size: 1.2rem;
  }
}

@media (min-width: 600px) {
  #contact_section .contact-item {
    font-size: 1.5rem;
  }
  #contact_section .row {
    display: flex;
    justify-content: space-between;
  }
  #contact_section .row .styled-input {
    width: 100%;
  }
  #contact_section .row .styled-input + .styled-input {
    margin-left: 2em;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
  margin-top: 0;
}

.title {
  text-align: center;
  color: #0b0c10;
  font-size: 3rem;
  padding-bottom: 1em;
}

.note {
  font-size: 0.8em;
  opacity: 80%;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 900px;
  padding-bottom: 3em 0;
}

#about_section {
  background-color: #f0efef;
}

#project_section {
  background-color: #e4e4e4;
}

#contact_section {
  background-color: #f0efef;
}

@media screen and (min-width: 600px) {
  #about_section {
    justify-content: space-between;
  }
  #about_section .row {
    display: flex;
  }
  #about_section .col {
    width: 100%;
  }
  #about_section .col + .col {
    margin-left: 1.5em;
  }
  .footer .row {
    display: flex;
  }
}

@media (min-width: 370px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
/*# sourceMappingURL=main.css.map */