@import 'config', 'home', 'menu', 'topButton', 'contact';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.8;
}

h1,
h2,
h3 {
	font-family: 'Advent Pro', sans-serif;
	font-weight: 700;
	margin-top: 0;
}

.title {
	text-align: center;
	color: $dark-font;
	font-size: 3rem;
	padding-bottom: 1em;
}

.container {
	margin: 0 auto;
	width: 85%;
	max-width: 900px;
	padding-bottom: 3em 0;
}

#about_section {
	background-color: #f0efef;
}

#project_section {
	background-color: #e4e4e4;
}

#contact_section {
	background-color: #f0efef;
}

@include media-md {
	#about_section {
		justify-content: space-between;

		.row {
			display: flex;
		}

		.col {
			width: 100%;
		}

		.col + .col {
			margin-left: 1.5em;
		}
	}

	.footer {
		.row {
			display: flex;
		}
	}
}

@media (min-width: 370px) {
	.projects {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
}
